
@model IEnumerable<YourProject.Models.Admin>

@{
    ViewBag.Title = "Административен панел";
}

<h2>Административен панел</h2>

<p>
    @Html.ActionLink("Добавяне на администратор", "AddAdmin")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Редактиране", "EditAdmin", new { id = item.Id }) |
                    @Html.ActionLink("Изтриване", "DeleteAdmin", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
